<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415179685227-het7h049odh990ibri99aucjo9m28i3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415179685227-het7h049odh990ibri99aucjo9m28i3s</string>
	<key>API_KEY</key>
	<string>AIzaSyBLcTrsBD8NQS2ywq9tlZxBkd_Fy8MNV5o</string>
	<key>GCM_SENDER_ID</key>
	<string>415179685227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rcturv.dana.app</string>
	<key>PROJECT_ID</key>
	<string>atc-rct-23-app</string>
	<key>STORAGE_BUCKET</key>
	<string>atc-rct-23-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415179685227:ios:1605663416a6f6a3dfa02e</string>
</dict>
</plist>