<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>114247706114-fdg8e2svo92pona6qoh4vrs88v64sa2d.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.114247706114-fdg8e2svo92pona6qoh4vrs88v64sa2d</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>114247706114-39pto93siv4jb50mhjspmnef0njk7elv.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyC_Yty8n89T1DdGHWU-WSjpO-vwUzP9Vts</string>
    <key>GCM_SENDER_ID</key>
    <string>114247706114</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.athousandcolibris.dana</string>
    <key>PROJECT_ID</key>
    <string>dana-health</string>
    <key>STORAGE_BUCKET</key>
    <string>dana-health.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:114247706114:ios:8acf0664c9925f79e3291b</string>
</dict>
</plist>
